<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=.;DataBase=LHCashier;user id= sa;password=" name="connectionString"/>
    <add connectionString="Server=tcp:x8zzq3il97.database.chinacloudapi.cn;Database=LHCashier;User ID=lifurong188;Password=ZhaoXue5211314;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" name="azureConnectionString"/>
  </connectionStrings>
</configuration>